:root {
  font-size: 62.5%;   
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #05192d;
  background-color: #f6f6f6;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;;
}

.header-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .8rem;
  background-color: #05192d;
  border-radius: .8rem;
  color: #f7f7f7;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
}

header * {
  margin: 0;
}

header p {
  font-size: 1.2rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  align-items: flex-start;
  justify-content: center;
}

.header-container * {
  margin: 0;
}

.skills-section p {
  font-size: 1.2rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  font-size: 2rem;
}

.img-stack-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem;
}

.projects-section {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap; 
}

.project {
  width: 32%;
  height: auto;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.project-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.project-description * {
  margin: 0;
}

.project h4{
  margin: 0;  
}

.project p {
  font-size: 1.4rem;
}

.project span {
  font-size: 1.2rem;
}

.project-link a {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  color: #055bcc;
}

.project-link a:hover {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 768px) { 
  .projects-section,
  .contact-section {
    width: 100%;
  }
  .header-container {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
  }
  .img-stack-icons {
    justify-content: center;
    margin: 0 auto;
  }
  .projects-section {
    flex-direction: column;
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
  }
  .project {
    width: 100%;
  }

}